.signUp {
    display: block;
    width: 100%;
    max-width: 40rem;
    border: 1px solid rgb(192, 184, 184);
    margin: 4rem auto 6rem;
    border-radius: 1.7rem;
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
    @media (max-width: 425px) {
        max-width: 30rem;
    }

    .wrap {
        padding: 5px;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        margin: 1rem auto 0;
        width: 100%;
    }

    .socialSignup {
        margin: 3rem 2rem 3rem;
    }

    img {
        width: 30px;
        margin-right: 2rem;
    }

   

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 1.5rem 0 22px 0;
        display: inline-block;
        border: none;
        border-radius: 2rem;
        background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
}