.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 50px; 
    margin: 0 auto;
    background-color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    border-radius: 2rem;
    
    p {
        margin: 15px 0;
    }
}